node_modules
.git
.gitignore
Dockerfile*
.dockerignore
.env*
.vscode
energi-fe-dev.tar
*.log
**/__pycache__

# Allow the development env file to be copied into the runtime image.
!.env.development

# Include dist in build context (we produce and upload it in CI before building)
!dist/
!dist/**