node_modules
.git
.gitignore
Dockerfile*
.dockerignore
.env*
.vscode
energi-fe-dev.tar
*.log
**/__pycache__

# Include dist in build context (we produce and upload it in CI before building)
!dist/
!dist/**